<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>CualquierCosa.Com</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/principal.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{% url 'coment_list' %}">CualquierCosa.Com <span>Noticias</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'coment_list' %}">Home</a></li>
				</ul>
			</nav>

		<!-- One -->
		
		{% block content %}
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>{{coments.published_date}}</p>
						<h2>{{coments.coment}}</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<p>{{coments.descri}}</p>
							<h4>
								{% if user.is_authenticated %}
								<a class="btn btn-default" href="{% url 'news_edit' pk=coments.pk %}">Editar</a><br>
								<a class="btn btn-default" href="{% url 'delete' pk=coments.pk %}" onclick="return confirm('¿Seguro que desea borrar esta noticia?');">Eliminar</a>
								{% endif %}
							</h4>
							
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; CualquierCosa. All rights reserved.
				</div>
			</footer>
			{% endblock %}
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

		
	</body>
</html>